[submodule "Process-Threads"]
	path = Process-Threads
	url = https://github.com/CryStudyOrganization/Process-Threads.git

[submodule "DiskInfo"]
	path = DiskInfo
	url = https://github.com/CryStudyOrganization/DiskInfo.git
	
[submodule "VBScripting"]
	path = VBScripting
	url = https://github.com/CryStudyOrganization/VBScripting
	
[submodule "SystemRegistry"]
	path = SystemRegistry
	url = https://github.com/CryStudyOrganization/SystemRegistry/tree/main
